.container {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 170);
    
}

.container ul {
    display: flex;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
li {
    margin: 20px;
    list-style-type: none;
}
  
li a {
    background-color: red;
    padding: 10px;
    color: black;
}

img {
    height: 80px;
    width: 80px;
    padding-left: 10px;
}