.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.UserSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
